body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.galeria {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 19px;
}
.iniciar {
    padding: 25px;
    background-color: #d3d3d3;
    max-width: 200px;
    height: 100px;
    border-radius: 10px;
}
.iniciar p{
    align-items: center;
}